{% load static %}
<html>
<head>
  <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
{% include 'navigation.html' %}
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">About Online Grocery Shop</span>
            <h2>I Am a Creative Tech Enthusiast Software Developer</h2>
          </div>
          <div class="text">Hello myself Pranam Bhosale, a dynamic Software Developer with expertise in
            Python, Django, SQL, HTML, CSS, and JavaScript. Recently completed a
            comprehensive Master in Python Full Stack Development program, equipped with
            the skills to design and develop robust web applications. I am Eager to leverage my
            skills, knowledge and contribute to impactful projects as a motivated and adaptable
            team member.
          </div>
          <div class="text">
            Developed an online grocery shop for Responsible end-to-end
development, including backend logic, frontend design, and
database management. Implemented features for seamless
user experience, such as User registration, product catalog, cart
functionality, and secure payment gateways. Collaborated with
a team to ensure project completion and deployment, resulting
in a fully functional and user-friendly online shopping platform.
          </div>
          <div class="btn-box">
            <a href="#" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
          <div class="author-desc">
            <h2>Pranam Bhosale</h2>
            <span>Software Developer</span>
          </div>
          <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                  title="Your Name" src="{% static 'images/about.jpg' %}" alt=""></a></figure>
        </div>
      </div>

    </div>
    <div class="sec-title">
      <span class="title">Our Future Goal</span>
      <h2>We want to lead in innovation & Technology</h2>
    </div>
    <div class="text">
      We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which
      suits to your web app & website.
    </div>
    <div class="text">
      We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even
      better.
    </div>
    <div class="text">
      Here we are trying to give you all kinds of technical content, whether it is related to designing or
      functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you
      use it without any problem. Which is a very important thing.
    </div>
    <div class="text">
      Here you can also share the content you create, if our technical team likes it, then we will also share it on our
      blog.
    </div>
    <div class="text">
      In the end, I would say keep visiting our website and enjoy the quality content.
    </div>
  </div>
</section>
</body>